<ion-view title="Controller" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-only" id="controller-tabs1">
        <ion-tab title="Home" icon="ion-ios-home" href="#/control/home" id="controller-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Places" icon="ion-map" href="#/control/tab1/places" id="controller-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Cloud" icon="ion-ios-cloud" href="#/control/cloud" id="controller-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Developer" icon="ion-link" href="#/control/developer" id="controller-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>