<ion-view title="Developer" id="page13">
    <ion-content padding="true" class="has-header">
        <div id="developer-markdown11" style="color:#000000;">
            <p>Developer
                <strong>zone</strong>
            </p>
        </div>
        <div id="developer-container1">
            <a href="#" onclick="window.open('/explorer', '_system', 'location=yes'); return false;" id="developer-button16" class="button button-balanced  button-block">API</a>
        </div>
    </ion-content>
</ion-view>