<ion-view title="Device Detail" id="page9">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="deviceDetail-card21">
            <ion-item class="item-icon-left" id="deviceDetail-list-item12">
                <i class="icon ion-ios-lightbulb-outline"></i>LDRV-CSB-PC2-0350</ion-item>
            <ion-item class="item-icon-left item-icon-right assertive" id="deviceDetail-list-item22">
                <i class="icon No Icon"></i>Universal Control Switch for LDRV switches
                <i class="icon ion-alert-circled"></i>
            </ion-item>
            <div class=" item item-image">
                <img src="img/y9AL8GXsQcCdIn7tX0wA_box.jpg" width="100%" height="" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <form id="deviceDetail-form5" class="list">
                <ion-item class="item-divider" id="deviceDetail-list-item-divider3">STATE</ion-item>
                <ion-item class="range range-positive" id="deviceDetail-range1">Dimmer
                    <input type="range" value="50" min="0" max="100" step="1" name="High">
                </ion-item>
                <ion-item class="range range-dark" id="deviceDetail-range2">Dimmer
                    <input type="range" value="50" min="0" max="100" step="1" name="High">
                </ion-item>
            </form>
            <div id="deviceDetail-button-bar1" class="button-bar">
                <button id="deviceDetail-button8" class="button button-dark  button-block">Default</button>
                <button id="deviceDetail-button9" class="button button-energized  button-block">Mode 1</button>
                <button id="deviceDetail-button10" class="button button-balanced  button-block">Mode 2</button>
            </div>
            <ion-item class="item-divider" id="deviceDetail-list-item-divider4">INFORMATION</ion-item>
            <ion-item id="deviceDetail-list-item28">Name
                <span class="item-note">LDRV-CSB-PC2-0350</span>
            </ion-item>
            <ion-item id="deviceDetail-list-item29">Icon
                <span class="item-note">Tap to Set</span>
            </ion-item>
            <ion-item id="deviceDetail-list-item30">Vendor
                <span class="item-note">Eulum</span>
            </ion-item>
            <ion-item id="deviceDetail-list-item34">Model
                <span class="item-note">LDRV-CSB-PC2-0350</span>
            </ion-item>
            <div class="item item-body" id="deviceDetail-list-item-container7">
                <div id="deviceDetail-markdown1" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
                <button id="deviceDetail-button14" class="button button-assertive  button-block icon-right ion-android-delete">Remove Device</button>
            </div>
        </div>
    </ion-content>
</ion-view>