<ion-view title="Groups" id="page6">
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <div class="list card" id="groups-card27">
            <ion-item class="item-icon-left" id="groups-list-item26">
                <i class="icon ion-ionic"></i>iNtellum Head Office</ion-item>
            <div class="width:100px; item item-image">
                <img src="img/6KV3EvbSq6sZVwxGxW7K_commercial-building-icon.png" class="place-img" width="100%" height="auto" style="display:block;">
            </div>
            <div class="item item-body" id="groups-list-item-container6">
                <div id="groups-markdown1" style="margin-top:0px;color:#000000;">
                    <p>Remove this
                        <strong>device</strong>from the group</p>
                </div>
            </div>
        </div>
        <div class="list card" id="groups-card24">
            <ion-item class="item-icon-left item-icon-right positive" id="groups-list-item24" ui-sref="controller.deviceGroup">
                <i class="icon ion-ios-folder"></i>Conference Room
                <span class="item-note">12 Devices</span>
                <i class="icon ion-grid"></i>
            </ion-item>
        </div>
        <div class="list card" id="groups-card25">
            <ion-item class="item-icon-left item-icon-right royal" id="groups-list-item44">
                <i class="icon ion-ios-folder"></i>Main Office
                <span class="item-note">6 Devices</span>
                <i class="icon ion-grid"></i>
            </ion-item>
        </div>
        <div class="list card" id="groups-card26">
            <ion-item class="item-icon-left item-icon-right energized" id="groups-list-item25">
                <i class="icon ion-ios-folder"></i>Reception
                <span class="item-note">6 Devices</span>
                <i class="icon ion-grid"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>