<ion-view title="iNtellum Login" id="login">
    <ion-content padding="true" class=" manual-remove-top-padding has-header" scroll="false">
        <form id="iNtellumLogin-form3" class="list">
            <div>
                <p class="logo">
                <h1>iNtellum</h1>
                <h2>control made amazingly simple</h2>
                </p>
            </div>
            <ion-list id="iNtellumLogin-list3">
                <label class="item item-input" id="iNtellumLogin-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="iNtellumLogin-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="controller.iNtellum" id="iNtellumLogin-button5" class="button button-stable  button-block">Log in</a>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="iNtellumLogin-button6" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>