<ion-view title="iNtellum" id="control">
    <ion-content padding="true" class="has-header">
        <div>
            <p class="logo">
                <h1>iNtellum</h1>
                <h2>control made amazingly simple</h2>
            </p>
        </div>
        <div class="item item-body" id="iNtellum-list-item-container13">
            <div id="iNtellum-markdown8" style="margin-top:0px;color:#000000;">
                <p>Select you
                    <strong>My Places</strong>to view your places and control your devices</p>
            </div>
            <a ui-sref="controller.places" id="iNtellum-button11" style="border-radius:15px 15px 15px 15px;" class="button button-balanced  button-block">My Places</a>
            <a ui-sref="controller.nearby" id="iNtellum-button12" style="border-radius:15px 15px 15px 15px;" class="button button-royal  button-block">Nearby</a>
            <button id="iNtellum-button15" style="border-radius:15px 15px 15px 15px;" class="button button-positive  button-block">Demo</button>
        </div>
    </ion-content>
</ion-view>