<ion-view title="Places" id="page3">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="places-card23">
            <ion-item class="item-icon-left item-icon-right" id="places-list-item11">
                <i class="icon ion-map"></i>iNtellum Head Office
                <span class="item-note">12 Devices</span>
                <i class="icon ion-android-locate"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="places-list-item13">The head office of the company
                <span class="item-note">123,453</span>
                <i class="icon ion-ios-location"></i>
            </ion-item>
            <div class=" item item-image">
                <a style="display:block;" ui-sref="controller.groups">
                    <img src="img/KBgNfCCkSSufHgHIgJ8e_commercial-building-icon.png" class="place-img" width="20%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
            <div class="item item-body" id="places-list-item-container3">
                <ion-list id="places-list2">
                    <ion-toggle toggle-class="toggle-positive" id="places-toggle3">Share</ion-toggle>
                </ion-list>
                <button id="places-button4" class="button button-assertive  button-block icon-right ion-android-delete">Delete Place</button>
                <div id="places-markdown2" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>