<ion-view title="Settiings" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list id="settiings-list1">
            <ion-item class="item-icon-left" id="settiings-list-item8">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left" id="settiings-list-item9">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left" id="settiings-list-item10">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-radio id="settiings-radio1">Radio</ion-radio>
        </ion-list>
    </ion-content>
</ion-view>