<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-only" id="tabsController-tabs1">
        <ion-tab title="Home" icon="ion-ios-home" href="#/page1/home" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Places" icon="ion-map" href="#/page1/places" id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Cloud" icon="ion-ios-cloud" href="#/page1/cloud" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>