<ion-view title="User Profile" id="page10">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <div class="list card" id="userProfile-card22">
            <ion-item class="item-icon-left" id="userProfile-list-item14">
                <i class="icon ion-ios-contact"></i>Matthew Perrins</ion-item>
            <div class=" item item-image">
                <img src="img/WhchnlLZR36prHmEjxfe_mjperrins.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <form id="userProfile-form6" class="list">
                <div class="item item-body" id="userProfile-list-item-container12">
                    <div id="userProfile-markdown6" style="margin-top:0px;color:#000000;">
                        <p>
                            <strong>Developer</strong>and
                            <strong>Cloud</strong>person</p>
                    </div>
                </div>
                <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="userProfile-toggle5">Notification</ion-toggle>
            </form>
            <ion-item class="item-divider" id="userProfile-list-item-divider9">Address</ion-item>
            <div class="item item-body" id="userProfile-list-item-container11">
                <div id="userProfile-markdown5" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
                <form id="userProfile-form7" class="list">
                    <label class="item item-input" id="userProfile-textarea2">
                        <span class="input-label">10701 Mourning Dove Drive</span><textarea placeholder=""></textarea>
                    </label>
                    <label class="item item-input" id="userProfile-textarea3">
                        <span class="input-label">Austin</span><textarea placeholder=""></textarea>
                    </label>
                    <label class="item item-input" id="userProfile-textarea4">
                        <span class="input-label">Texas</span><textarea placeholder=""></textarea>
                    </label>
                    <ion-toggle toggle-class="toggle-positive" id="userProfile-toggle6">Toggle</ion-toggle>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>